<!DOCTYPE html>
{% load static  %}
<html>
<title>Tugas SC</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="{% static 'footer.css' %}" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url(./static/tangan5.jpg);
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

#myNavbar {
  background-color: #000B46 !important;
}

.w3-grayscale-min {
  filter: none !important;
}
</style>

<body>

  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-white w3-card"  id="myNavbar">
      <a href="/" style="color: #F9E5BC;" class="w3-bar-item w3-button w3-wide">SmartPA</a>
      <!-- Right-sided navbar links -->
      <div class="w3-right w3-hide-small">
        <a href="{% url 'home:home' %}" style="color: #F9E5BC;" class="w3-bar-item w3-button">Home</a> -->
        <!-- <a href="{% url 'csp:csp' %}" style="color: #F9E5BC;" class="w3-bar-item w3-button">Upload</a> -->
        <a href="{% url 'faq:faq' %}" style="color: #F9E5BC;" class="w3-bar-item w3-button">FAQ</a>
      </div>
      <!-- Hide right-floated links on small screens and replace them with a menu icon -->

      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>

  <!-- Sidebar on small screens when clicking the menu icon -->
  <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none;" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
    <a href="/" onclick="w3_close()" class="w3-bar-item w3-button">Home</a>
    <!-- <a href="/csp" style="color: #F9E5BC;" onclick="w3_close()" class="w3-bar-item w3-button">CSP</a> -->
    <!-- <a href="/csp/upload" style="color: #F9E5BC;" onclick="w3_close()" class="w3-bar-item w3-button">Upload</a> -->
    <a href="#" style="color: #F9E5BC;" class="w3-bar-item w3-button">FAQ</a>

  </nav>

  <!-- Header with full-height image -->
  <header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-left w3-text-white" style="padding:48px;">
      <span class="w3-jumbo w3-hide-small" style="text-shadow: 1px 1px 7px #000000;">Dari kami, untuk kita</span><br>
      <span class="w3-xxlarge w3-hide-large w3-hide-medium" style="text-shadow: 1px 1px 7px #000000;">Dari kami, untuk kita</span><br>
      <p class="w3-large" style="text-shadow: 1px 1px 5px #000000;">Permudah kegiatan pembelajaran jarak jauh dengan SmartProjectAssignment. Cukup dengan upload file, dan dapatkan hasil pengelompokkan yang anda inginkan. Semudah itu.</p>
      <p><a href="{% url 'csp:csp' %}" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Tekan untuk memulai</a></p>
    </div> 
    <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
  </header>
  
  <div class="w3-container" style="padding:50px 16px" id="team">
    <h3 class="w3-center">THE TEAM</h3>
    <p class="w3-center w3-large">The ones who runs this company</p>
    <div class="w3-row-padding w3" style="margin-top:64px">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <img src="{% static 'Ardian.png' %}" alt="Ardian" style="width:100%">
          <div class="w3-container">
            <h3>Ardian</h3>
            <p class="w3-opacity">CEO & Founder</p>
            <p>1706039452</p>
            
          </div>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <img src="{% static 'Ihwan.png' %}" alt="Ihwan" style="width:100%">
          <div class="w3-container">
            <h3>Ihwan</h3>
            <p class="w3-opacity">Backend</p>
            <p>1706074934</p>
            
          </div>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <img src="{% static 'Idris.png' %}" alt="Idris" style="width:100%">
          <div class="w3-container">
            <h3>Idris</h3>
            <p class="w3-opacity">Frontend</p>
            <p>1706024673</p>
            
          </div>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <img src="{% static 'insan.png' %}" alt="Insan" style="width:100%">
          <div class="w3-container">
            <h3>Insan</h3>
            <p class="w3-opacity">Frontend</p>
            <p>1706979291</p>
            
          </div>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <img src="{% static 'Rendhy.png' %}" alt="Rendhy" style="width:100%">
          <div class="w3-container">
            <h3>Rendhy</h3>
            <p class="w3-opacity">Backend</p>
            <p>1706039982</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Site footer -->
    <footer style="padding: 20px 100px; background: #040031;" class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">SmartProjectAssignment adalah aplikasi dari kelompok OtwCerdas yang menerapkan konsep Sistem Cerdas/AI dengan menerapkan prinsip CSP atau Constraint Satisfaction Problem. Dengan prinsip ini, melakukan pengelompokkan atau penjadwalan akan terasa lebih mudah dan sederhana.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="#">Python</a></li>
              <li><a href="#">UI Design</a></li>
              <li><a href="#">Django</a></li>
              <li><a href="#">Java</a></li>
              <li><a href="#">CSP</a></li>
              <li><a href="#">Templates</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="{% url 'faq:faq' %}">FAQ</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Contribute</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
         <a href="#">SmartPA.com</a>
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>
   
  <script>
  // Modal Image Gallery
  function onClick(element) {
    document.getElementById("img01").src = element.src;
    document.getElementById("modal01").style.display = "block";
    var captionText = document.getElementById("caption");
    captionText.innerHTML = element.alt;
  }


  // Toggle between showing and hiding the sidebar when clicking the menu icon
  var mySidebar = document.getElementById("mySidebar");

  function w3_open() {
    if (mySidebar.style.display === 'block') {
      mySidebar.style.display = 'none';
    } else {
      mySidebar.style.display = 'block';
    }
  }

  // Close the sidebar with the close button
  function w3_close() {
      mySidebar.style.display = "none";
  }
  </script>

</body>
</html>
