{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'footer.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <title>FAQ</title>
</head>

<style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

    body, html {
      /*height: 100%;*/
    }

    .w3-bar .w3-button {
        padding: 16px;
    }

    #myNavbar {
        background-color: #000B46 !important;
    }

</style>

<body>
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-card"  id="myNavbar">
            <a href="{% url 'home:home' %}" style="color: #F9E5BC;" class="w3-bar-item w3-button w3-wide">SmartPA</a>
        <!-- Right-sided navbar links -->
        <div class="w3-right w3-hide-small">
            <!-- <a href="/" style="color: #F9E5BC;" class="w3-bar-item w3-button">Home</a> -->
            <a href="{% url 'home:home' %}" style="color: #F9E5BC;" class="w3-bar-item w3-button">Home</a>
            <a href="{% url 'csp:csp' %}" style="color: #F9E5BC;" class="w3-bar-item w3-button">Upload</a>
            <a href="{% url 'faq:faq' %}" style="color: #F9E5BC;" class="w3-bar-item w3-button">FAQ</a>
        </div>
    
        <!-- Hide right-floated links on small screens and replace them with a menu icon -->
        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
        <i class="fa fa-bars"></i>
        </a>
        </div>
    </div>

    <!-- Sidebar on small screens when clicking the menu icon -->
    <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none;" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
    <a href="{% url 'home:home' %}" onclick="w3_close()" class="w3-bar-item w3-button">Home</a>
    <!-- <a href="/csp" style="color: #F9E5BC;" onclick="w3_close()" class="w3-bar-item w3-button">CSP</a> -->
    <!-- <a href="/csp/upload" style="color: #F9E5BC;" onclick="w3_close()" class="w3-bar-item w3-button">Upload</a> -->
    <a href="#" style="color: #F9E5BC;" class="w3-bar-item w3-button">FAQ</a>

  </nav>
  

    <div style="margin-top:5%" class="container-faq">
    <!-- Bikin Faq-->
        <div class="w3-container w3-padding-large" style="margin-bottom:32px">
            <h4><b>Apa itu SmartPA?</b></h4>
            <p>SPA atau SmartProjectAssignment adalah layanan berbasis website yang dibuat dengan tujuan mempermudah dosen untuk memberikan proyek kelompok kepada mahasiswa dengan berdasarkan domisili masing-masing mahasiswa.</p>
            <hr>
            <h4><b>Bagaimana cara menggunakannya?</b></h4>
            <p>Pengguna cukup mengupload file excel berisi nama-nama mahasiswa serta domisilinya dan SPA akan menghasilkan output kabupaten/kota beserta tema proyek yang akan diberikan kepada mahasiswa yang berdomisili di kabupaten/kota tersebut</p>
            <hr>
            <h4><b>Seberapa cepat waktu mengconvert?</b></h4>
            <p>Tentunya, sangat cepat.</p>
            <hr>
            <h4><b>Apa alasan kami membuat app ini?</b></h4>
            <p>Di tengah pandemi Covid-19 yang melanda seluruh dunia, hampir seluruh kegiatan perkuliahan terpaksa dilakukan secara online, dan tidak dapat dilakukan secara tatap muka, sehingga seluruh mahasiswa melakukan kegiatan PJJ. Supaya pembelajaran tetap kuat meskipun PJJ, setiap mahasiswa diberi proyek berkelompok dan kelompok tersebut didasarkan pada domisili masing-masing mahasiswa. Untuk mempermudah pemberian proyek, dan memastikan kabupaten/kota domisili yang berdekatan tidak diberikan proyek dengan tema yang sama, maka hadirlah Smart Project Assignment (SPA)</p>
        </div>
    </div>
    
    

   <!-- Site footer -->
    <footer style="padding: 20px 100px; background: #040031;" class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">SmartProjectAssignment adalah aplikasi dari kelompok OtwCerdas yang menerapkan konsep Sistem Cerdas/AI dengan menerapkan prinsip CSP atau Constraint Satisfaction Problem. Dengan prinsip ini, melakukan pengelompokkan atau penjadwalan akan terasa lebih mudah dan sederhana.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="#">Python</a></li>
              <li><a href="#">UI Design</a></li>
              <li><a href="#">Django</a></li>
              <li><a href="#">Java</a></li>
              <li><a href="#">CSP</a></li>
              <li><a href="#">Templates</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="{% url 'faq:faq' %}">FAQ</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Contribute</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
         <a href="#">SmartPA.com</a>
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>
   

    <script>
    // Modal Image Gallery
        function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
        var captionText = document.getElementById("caption");
        captionText.innerHTML = element.alt;
    }


    // Toggle between showing and hiding the sidebar when clicking the menu icon
    var mySidebar = document.getElementById("mySidebar");

    function w3_open() {
    if (mySidebar.style.display === 'block') {
      mySidebar.style.display = 'none';
    } else {
      mySidebar.style.display = 'block';
    }
  }

    // Close the sidebar with the close button
    function w3_close() {
      mySidebar.style.display = "none";
  }
  </script>
</body>
</html>