{% load static %}
{% block content %}

<div class="container">
    <div class="home-page">
        <h1>Ini document upload bre</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-success btn-lg" name="register">
        </form>
    </div>
</div>
{% endblock %}